.homeHeader
  background-color: #4A90E2
.homeNav
  x-inner()
  display: table;
  width: 100%;
  position: relative
  &::after
    content ""
    display: inline-block
    position:  absolute    
    bottom:  0
    width 33.33%
    border-bottom:  5px solid #00408B 
    transition: left .25s ease
.homeNavItem
  height: 76px;
  color: #00408b;
  display: table-cell;
  font-size: 1.5rem;
  line-height: 1.75rem;
  width: 33.33%;
  cursor pointer
  text-align: center;
  vertical-align: middle;
  background-color: #4a90e2
  transition: color .25s ease,background-color .25s ease
  &:hover
    background-color: #3982D7
  &.now
    color #fff
.navThree-now1::after
  left 0px
.navThree-now2::after
  left 33.33%
.navThree-now3::after
  left 66.66%

main
  x-inner()
.addItem
  margin  20px 0
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f2f2;
.addTitle
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 1.5rem
  background-color: #fff
  color #C8C8C8;
  cursor pointer
  transition: color .25s ease
  .fa-plus
    font-size: 1.2rem;
    margin-right: 10px;
.listItem
  margin 10px 0
  background-color: #F2F2F2
  border-radius: 5px;
  overflow: hidden;
.listTitle
  display: flex;
  justify-content: space-between;
  padding: 21px;
  font-size: 1.5rem
  background-color: #F2F2F2
  transition: color .25s ease
  .title
    font-weight: bold
    cursor pointer
.addtext
  border: 0;
  color: #000;
  background-color: #f2f2f2;
  padding: 5px;
.addButton
  width 100%
.icon
  cursor pointer
  margin:  5px 10px
.fa-check-square
  color: #fff;
  background-color: #fff;
  border-radius: 3px;
  height: 23px;
  transition: color .25s ease
.item_complete
  .fa-check-square
    color: #4A90E2
  .title
    transition: color .25s ease
    color #9B9B9B
    text-decoration: line-through;
.item_important
  .listTitle
    background-color: #FFF2DC
    .fa-star
      color #F5A623
      transition: color .25s ease

.item_modify
  margin 20px 0
  .fa-pencil-alt
    color #4A90E2
  .listContent
    max-height: 450px
.addItem-open
  .listContent
    max-height: 450px
  .addTitle
    color: #000;
    background-color: #f2f2f2;
  .title
    border: 0;
    background-color: #f2f2f2;
    width: 420px;
.listContent
  border-top: 2px solid #C8C8C8;
  max-height: 0px
  overflow hidden
  transition: max-height .25s ease
  .listContentTitle
    display: block;
    font-weight: bolder;
    padding-bottom: 5px;
    font-size: 1.25rem
  .far
    position absolute
    top 4px
    left -25px

textarea
  width: 100%;
  height: 120px;
  border: 0;
  padding 10px
  border-radius: 5px;
.listContentLine
  margin: 20px 88px 0;
  position relative
.buttonCancel,
.buttonMain
  width: 50%;
  border: 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 20px;
  padding: 16px;
  cursor pointer
  .fas
    margin-right 10px
    font-size: 1.3rem;
.buttonCancel
  background-color: #fff;
  color: #D0021B;
  transition:background-color .25s ease
  &:hover
    background-color: #FDFDFD
.buttonMain
  background-color: #4A90E2
  color: #fff
  transition:background-color .25s ease
  &:hover
    background-color: #3982D7
.listTotal
  color: #C8C8C8;
  padding-left: 30px;
  font-size: 1.5rem;
  font-family 'Roboto-Italic','Avenir', Helvetica, Arial, sans-serif
.deadline_date
  margin-right: 5px
.uploadFile
  font-size: .5rem
  display flex
  line-height: 1rem;
.fa-plus-square
  cursor pointer
  font-size: 1.95rem;
  color: #C8C8C8;
  transition: color .25s ease
  &:hover
    color #4A90E2
.fileInfo
  display block
  margin-right: 20px;
  color #757575
footer
  text-align: center;
  padding: 30px;
  font-size: 0.75rem;
  color: #757575;
